.activitydetails .background-Restaurant {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/equiomentlist.appspot.com/o/images%2Fbackgrounds%2Frestaurant.jpg?alt=media&token=4c0b73d0-f3a8-4d0a-9548-80002d64b625");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center top;
    z-index: -1;
}

.activitydetails .background-Hiking-Trail {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/equiomentlist.appspot.com/o/images%2Fbackgrounds%2Fhiking-trip.jpg?alt=media&token=9df4acac-747f-407c-9328-4b415d99d739");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center top;
    z-index: -1;
}

.activitydetails .background-Attraction {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/equiomentlist.appspot.com/o/images%2Fbackgrounds%2FAttractions-background.jpg?alt=media&token=f811d938-31e7-45b5-9ed4-19c087cc1d41");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center top;
    z-index: -1;
}

.activitydetails .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
    margin-left: 100px;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.activitydetails .title {
    color: white;
    text-shadow: 2px 2px 4px rgba(203, 204, 188, 0.959);
    font-weight: bold;
    margin-top: 500px;
    width: fit-content;
    font-size: 70px;
    position: relative;
    height: fit-content;
}

.activitydetails .contentcontainer {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.activitydetails .activity-metadata span, .activitydetails .activity-hiking-metadata-item span,
.activitydetails .activity-address span,
.activitydetails .description-title span, .activitydetails .activity-restaurant-metadata-item span, 
.activitydetails .activity-attraction-metadata-item span {
    text-decoration: underline;
}

.activitydetails .activity-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom: 35px;
}

.activitydetails .activity-address-description-picture {
    display: flex;
}

.activitydetails .submit-fav-act-button {
    height: 50px;
    width: 180px;
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    color: white;
    border-color: transparent;
    cursor: pointer;
    background-color: rgb(7, 59, 7);
    box-shadow: 0px 2px 2px 0px rgba(120,116,120,0.59);
}

.activitydetails .submit-fav-act-button:hover {
    background-color: rgb(12, 109, 12);
}

.activitydetails .activity-success-message {
    width: 180px;
    color: rgb(12, 109, 12);
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}

.activitydetails .activity-error-message {
    width: 180px;
    color: rgb(179, 8, 8);
    font-size: 12px;
    text-align: center;
}

.activitydetails .activity-hiking-metadata, .activitydetails .activity-restaurant-metadata,
.activitydetails .activity-attraction-metadata  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom: 30px;
}

.activitydetails .activity-restaurant-metadata-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-bottom: 30px;
}

.activitydetails .activity-restaurant-metadata-contact a, .activitydetails .activity-attraction-metadata-item a {
    color: black;
}

.activitydetails .activity-restaurant-metadata-contact a:hover, .activitydetails .activity-attraction-metadata-item a:hover {
    color: rgb(23, 126, 74);
}

.activitydetails .activity-address-description {
    width: 60vw;
}

.activitydetails .activity-address {
    margin-bottom: 20px;
    width: 60%;
}

.activitydetails .activity-description-content {
    width: 50vw;
    height: 250px;
    box-sizing: border-box;
    padding: 10px 25px;
    overflow: auto;
}

.activitydetails  .activity-picture-container {
    width: 370px;
    height: 370px;
}


.activitydetails  .activity-picture {
    width: 370px;
    max-height: 370px;
    border-radius: 10px;
}
