.home .background {
    background-image: url("/assets/images/Home.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: 100vw;
    background-position: center top;
}

.home .container {
    display: flex;
    align-content: flex-start;
    margin-top: -40px;
}

.home .title {
    text-align: start;
    margin: 200px 700px 100px 20px;

}
